body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgba(50,50,50,1);
}

canvas {
  background: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.links {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2;
}

a {
  color: #ffffff;
  display: block;
  transition: opacity .5s ease;
}
a:hover {
  opacity: .5;
}
