body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #03071e;
  color: #ffba08;
}

.logo {
  margin: 2px;
  border-radius: 30px;
  background: #ffba08;
  min-width: 10px;
}

h1 {
  cursor: pointer;
  font-size: 80px;
}
