body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  background: #88d8b0;
  width: 100vw;
  height: 100vh;
}

.generate {
  position: fixed;
  bottom: 10vw;
  left: 50%;
  transform: translate(-50%, 0);
  line-height: 70px;
  height: 70px;
  z-index: 10;
  font-family: sans-serif;
  color: #ffffff;
  background: #ff6f69;
  border-radius: 35px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 35px;
  border: 0;
  margin: 0;
  font-size: 40px;
}
